* {
    margin: 0;
    padding: 0;
}

body {

    background-color: blanchedalmond;

    font-family: 'Bangers', cursive;
}

.container {
    max-width: 1000px;
    background-color: burlywood;
    margin: 0 auto;
    padding: 20px;

}

header {}

.profile-image {
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;

}

.header-bio {
    float: left;
    padding: 30px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: firebrick;
}

.header-contact {
    float: right;
    padding: 40px;
}

.header-contact a {
    text-decoration: none;
    color: fuchsia;


}

.header-contact a:hover {
    text-decoration: underline;
    color: darkblue;
}

.div-clear {
    clear: both;
}

.HR {
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}

#personal-section {}

.content {}

.left-div {
    width: 30%;
    float: left;
}

.right-div {
    width: 70%;
    \
 float: left;
}
